        <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        section {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 0.0001em;
            position: fixed;
            bottom: 0;
            width: 52.7%;
        }

        img {
            max-width: 100%; /* Adjusted for responsiveness */
            height: auto;
            border-radius: 2px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        div {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px;
        }

        h2 {
            color: #333;
        }

        video {
            max-width: 100%; /* Adjusted for responsiveness */
            height: auto;




        }
table ,th,td{border:3px solid black;
}



    </style>